.main-container {
  background: url(".././assets/images/capelli-espacios-trabajo.jpg");
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 2);
  object-fit: contain;
}
.main-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -300px;
}
.main-container > p {
  margin-top: 14px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.main-btns {
  margin-top: 18px;
  margin: 200px;
}

.main-btns,
.btns {
  margin: 6px;
}
.btn--large {
  margin: 2px;
}
.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .main-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}
@media screen and (max-width: 768px) {
  .main-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }
  .main-container > p {
    font-size: 30px;
  }
  .btn-mobile {
    display: block;
    text-decoration: none;
    align-items: center;
    margin: 2px;
  }
  .main-btns {
    width: 100%;
    align-items: center;
  }
  .main-btns {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}
