* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('./assets/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  .services, .services .cards {
    background: url("./assets/images/capelli-espacios-trabajo-3.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 2);
    object-fit: contain;
    color: #fff;
  }
  .category, .category .cards {
    background: url("./assets/images/capelli-espacios-trabajo-3.jpg");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 2);
    object-fit: contain;
    color: #fff;
  }
  .appointment{
    background: url("./assets/images/salon-create.webp");
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 2);
    object-fit: contain;
    color: #fff;
  }
   .stepper {
    background-color: #7c785ac7 !important;
    color: #fff !important;
  }

  .category .cards__item__text{
    color: #fff;
  }
  .sercices .cards__item__text{
    color: #fff;
  }
  .sercices .cards__item__link{
    box-shadow: 0 6px 20px rgba( 255,255,255, 86%);
  } 
  .category .cards__item__link{
    box-shadow: 0 6px 20px rgba( 255,255,255, 86%);
  }
  .category .cards h1{
    font-size: 50px;
  }
  
  .services .cards h1{
    font-size: 30px;
  }
    
  .services .cards h4{
    font-size: 50px;
    margin-top: -300px;
  }
  .products {
    background-image: url('./assets/images/img-1.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('./assets/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }